extends ../layout

block content
  h2 Users List
  a.btn.btn-primary(href="/user/add") Add User
  table.table.table-striped
    thead
      tr
        th Username
        th Password
        th User Type
        th Actions
    tbody
      each user in users
        tr
          td= user.uname
          td= user.upass
          td= user.utype
          td
            a.btn.btn-sm.btn-warning(href=`/user/edit/${user.uid}`) Edit
            a.btn.btn-sm.btn-danger(href=`/user/delete/${user.uid}`) Delete
